/* --- General --- */

@font-face {
    font-family: "Monthoers";
    src:
        url("assets/fonts/monthoers-webfont.woff2") format("woff2"),
        url("assets/fonts/monthoers-webfont.woff") format("woff"),
        url("assets/fonts/monthoers-webfont.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Dosis";
    src:
        url("assets/fonts/Dosis.woff2") format("woff2"),
        url("assets/fonts/Dosis.ttf") format("truetype");
    font-weight: 1 999;
}

@property --tint {
    syntax: "<color>";
    initial-value: #753ed6;
    inherits: false;
}

@media (prefers-color-scheme: light) {
    :root {
        --tint: #955df7;
    }
}

:root {
    --dev-bg: #111;
    --dev-bg-accent: #303030;
    --dev-fg: #fff;
    color-scheme: dark light;
    --dev-bg: light-dark(#fbfbfb, #111);
    --dev-bg-accent: light-dark(#dadee1, #303030);
    --dev-fg: light-dark(#000, #fff);
}

:root.light {
    color-scheme: light;
}

:root.dark {
    color-scheme: dark;
}

:root.rainbow .usesTint,
:root.rainbow .usesTint::before,
:root.rainbow .usesTint::after {
    animation: rainbowTint 4s linear infinite;
}

@keyframes rainbowTint {
    0% {
        --tint: #753ed6;
    }
    12% {
        --tint: #70369d;
    }
    24% {
        --tint: #4b369d;
    }
    37% {
        --tint: #487de7;
    }
    50% {
        --tint: #79c314;
    }
    63% {
        --tint: #faeb36;
    }
    75% {
        --tint: #ffa500;
    }
    88% {
        --tint: #e81416;
    }
    100% {
        --tint: #753ed6;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font:
        400 22px Dosis,
        Arial,
        sans-serif;
    letter-spacing: 0.2px;
    line-height: 1.4em;
}

h1 {
    position: relative;
    text-align: center;
    margin: 50px 0;
    font-size: 40px;
}

h1:has(+ .headerNote) {
    margin-bottom: 15px;
}

.headerNote {
    display: table;
    margin: 0 auto 35px;
    text-align: center;
}

a {
    color: var(--tint);
    transition: color 0.6s;
}

.hide {
    display: none !important;
}

.invisible {
    opacity: 0 !important;
}

.clear {
    clear: both;
}

@media print {
    a[href]:after {
        content: " (" attr(href) ") ";
    }
}

/* ------- Landing ------- */

/* --- Background --- */

#particles {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

#landing {
    width: 100vw;
    height: 100vh;
    background-color: var(--dev-bg);
    overflow: hidden;
    text-align: center;
    transition: background-color 0.6s;
}

#mouse {
    width: 100px;
    height: 100px;
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 50%;
}

@supports (mix-blend-mode: difference) {
    #mouse {
        mix-blend-mode: difference;
        z-index: 2;
        display: block;
    }
}

/* --- Name --- */

.nameWord,
.nameFirstLetter {
    font-family: Monthoers, Arial, sans-serif;
    font-size: 12vw;
    color: var(--dev-fg);
    display: inline-block;
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition:
        opacity 0.6s ease 0.5s,
        color 0.6s;
}

body.loaded .nameWord,
body.loaded .nameFirstLetter {
    opacity: 1;
}

.nameWord {
    z-index: 1;
}

.nameFirstLetter {
    color: var(--tint);
    z-index: 3;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* --- Buttons --- */

button {
    position: absolute;
    display: block;
    padding: 5px 20px;
    border: none;
    color: var(--dev-fg);
    background-color: var(--tint);
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    line-height: 35px;
    transition:
        transform 0.4s,
        color 0.4s,
        background-color 0.4s,
        box-shadow 0.4s;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 0;
    z-index: 3;
    box-shadow: 0px 0px 15px -5px var(--tint);
    max-width: 80vw;
}

button:hover {
    background-color: var(--dev-fg);
    color: var(--tint);
}

button:active {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

#dev {
    left: 10vw;
    bottom: 10vw;
}

#photo {
    right: 10vw;
    top: 10vw;
}

/* --- Arrows --- */

.arrow {
    opacity: 0;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.arrow:before,
.arrow:after {
    background-color: var(--dev-fg);
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    transition: background-color 0.6s;
}

.arrow:before {
    -webkit-transform: rotate(45deg) translateX(-23%);
    transform: rotate(45deg) translateX(-23%);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.arrow:after {
    -webkit-transform: rotate(-45deg) translateX(23%);
    transform: rotate(-45deg) translateX(23%);
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

#photoArrow {
    transform: rotate(270deg);
    top: calc(10vw + 50px);
    right: calc(10vw + 270px);
    -webkit-animation: arrow-movement-photo 2s ease-in-out infinite;
    animation: arrow-movement-photo 2s ease-in-out infinite;
}

#devArrow {
    bottom: calc(10vw + 115px);
    left: calc(10vw + 140px);
    -webkit-animation: arrow-movement-dev 2s ease-in-out infinite;
    animation: arrow-movement-dev 2s ease-in-out infinite;
}

@keyframes arrow-movement-photo {
    0% {
        opacity: 0;
        right: calc(20vw + 270px);
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes arrow-movement-dev {
    0% {
        opacity: 0;
        bottom: calc(20vw + 155px);
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* ------- Color Picker ------- */

#colorPicker {
    z-index: 10;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

#colorPicker #tintLabel {
    background-color: var(--tint);
    width: 56px;
    height: 56px;
    border-radius: 56px;
    display: block;
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px var(--tint);
    transition:
        transform 0.6s,
        background-color 0.6s,
        box-shadow 0.6s;
}

#colorPicker #tintLabel:hover {
    transform: scale(1.1);
}

#colorPicker #tintLabel:active {
    transform: scale(0.9);
}

#colorPicker #tintLabel::after {
    content: attr(data-message);
    white-space: pre;
    position: absolute;
    top: -5px;
    left: 50px;
    background-color: #fffa;
    color: #000;
    opacity: 0;
    visibility: hidden;
    padding: 10px 20px;
    border-radius: 50px 50px 0;
    transition:
        transform 0.6s,
        opacity 0.6s,
        visibility 0.6s;
    font-size: 16px;
    line-height: 1.3em;
    transform: translateX(-100%);
}

#colorPicker #tintLabel:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translate(-100%, -100%);
}

#colorPicker #tint {
    display: none;
}

.switch-toggle {
    background-color: var(--dev-bg);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    right: 70px;
    top: 0;
    box-shadow: 0px 0px 15px 0px var(--tint);
    opacity: 0;
    visibility: hidden;
    transition:
        box-shadow 0.6s,
        background-color 0.6s,
        opacity 0.6s,
        visibility 0.6s,
        transform 0.6s;
}

#colorPicker #tintLabel:hover ~ .switch-toggle,
.switch-toggle:hover {
    opacity: 1;
    visibility: visible;
}

.switch-toggle:hover {
    transform: scale(1.1);
}

.switch-toggle:active {
    transform: scale(0.9);
}

.switch-icon svg {
    fill: var(--dev-fg);
    transition: fill 0.6s;
}

.switch-input {
    display: none;
}

.switch-icon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
}

.switch-icon--moon {
    transition-delay: 200ms;
}

.switch-icon--sun {
    transform: scale(0);
}

.switch-input:checked + .switch-icon--moon {
    transform: rotate(360deg) scale(0);
}

.switch-input:checked ~ .switch-icon--sun {
    transition-delay: 200ms;
    transform: scale(1) rotate(360deg);
}

/* ------- Gallery ------- */

#galleryPage {
    position: absolute;
    left: 100vw;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#gallery img {
    width: 100%;
    box-shadow: 0 0 10px 0 black;
    padding: 10px;
    background-color: white;
    justify-self: center;
    align-self: center;
}

#gallery {
    margin: 20px;
    z-index: 3;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0 0;
    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;
}

/* ------- Software Dev page ------- */

#devPage {
    position: absolute;
    left: 0;
    top: 100vh;
    width: 100vw;
    /*height: 100vh;*/
    background-color: var(--dev-bg);
    color: var(--dev-fg);
    z-index: 3;
    padding: 30px 10vw;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition:
        background-color 0.6s,
        color 0.6s;
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#profile p {
    flex: 1 1 300px;
}

#profilePicture {
    width: 25vw;
    border-radius: 50%;
    height: 25vw;
    object-fit: cover;
    object-position: top;
    flex: 0 0 25vw;
    box-shadow: 0px 0px 15px -5px var(--tint);
    transition: box-shadow 0.6s;
}

@media (max-width: 620px) {
    #profilePicture {
        width: 50vw;
        height: 50vw;
        flex: 0 0 50vw;
    }
}

@media (min-width: 1292px) {
    #profilePicture {
        width: 322px;
        height: 322px;
        flex: 0 0 322px;
    }
}

h2 {
    font-size: 26px;
    margin: 30px 0 20px 0;
    text-align: center;
}

h2:has(+ .profileHeaderNote) {
    margin-bottom: 5px;
}

.profileHeaderNote {
    display: table;
    font-size: 18px;
    margin: 0 auto 10px;
}

.profileSection {
    display: flex;
    flex-wrap: wrap;
}

.profileSection ul {
    flex: 1 1;
    align-content: center;
    padding: 10px;
    text-align: center;
    padding: 0;
    font-size: 0;
    position: relative;
    min-width: 400px;
}

.profileSection ul:not(.inline):has(li.active) li {
    left: 0;
    transform: translateX(0);
}

.profileSection li.active {
    margin-left: 25px;
}

.profileSection li .liArrow {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -25px;
    color: var(--tint);
    transition:
        color 0.6s,
        opacity 0.6s,
        visibility 0.6s;
}

.profileSection li.active .liArrow {
    opacity: 1;
    visibility: visible;
}

.profileSection ul.inline li {
    display: inline-block;
    margin: 5px;
    position: static;
    left: 0;
    transform: none;
}

.profileSection li {
    list-style: none;
    margin: 10px 0;
    padding: 5px 10px;
    background-color: var(--dev-bg-accent);
    display: table;
    font-size: 18px;
    transition:
        left 0.6s,
        transform 0.6s,
        margin 0.6s,
        background-color 0.6s,
        color 0.6s;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.profileSection ul:not(.inline) li[data-info] {
    cursor: pointer;
}

.rightInfo {
    flex: 0 0 auto;
    align-content: center;
    width: 0px;
    height: 0px;
    min-width: 300px;
    overflow: hidden;
    transition:
        flex 0.6s,
        width 0.6s,
        min-width 0.6s,
        height 0.6s,
        opacity 0.6s;
    opacity: 0;
    text-align: right;
    padding: 10px;
}

.rightInfo:empty {
    min-width: 0px;
}

.rightInfo.active {
    flex: 1 1 auto;
}

.rightInfo.visible {
    opacity: 1;
}

.rightInfo li {
    left: 100%;
    transform: translate(-100%);
}

.role {
    font-weight: 600;
}

.time {
    font-style: italic;
}

#divider {
    width: 200vw;
    left: -50vw;
    position: relative;
    transform: rotate(-5deg);
    height: 60px;
    background-color: var(--tint);
    transition: background-color 0.6s;
    margin: 80px 0 100px 0;
}

@media (max-width: 900px) {
    .rightInfo,
    .rightInfo.active {
        flex: 1 1 100%;
    }
    .rightInfo:empty {
        min-width: 300px;
    }
}

/* ------- Portfolio ------- */

#portfolio {
    scroll-margin-top: 40px;
}

#topTags {
    margin-bottom: 20px;
    height: 35px;
}

#topTagsLabel {
    opacity: 0;
    transition: opacity 0.6s;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    cursor: pointer;
}

#topTagsLabel:has(~ .tag) {
    opacity: 1;
}

.projectWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    transition: height 0.6s;
}

#projectsButton {
    position: relative;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    margin: 80px 0;
}

.project {
    flex: 0 0 400px;
    align-self: start;
    position: relative;
    max-width: 400px;
    border: 2px solid var(--tint);
    border-radius: 20px;
    overflow: hidden;
    transition:
        height 0.6s,
        border-color 0.6s,
        opacity 0.6s;
    height: 235px;
    opacity: 1;
    display: block;
}

.project .imgWrapper {
    cursor: pointer;
    position: relative;
}

.project .imgWrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fffd;
    position: absolute;
    opacity: 0;
    border-radius: 20px;
    transition:
        border-radius 0.6s,
        opacity 0.6s;
}

.project .imgWrapper:hover:before {
    opacity: 1;
}

.project .imgWrapper::after {
    content: attr(data-title);
    opacity: 0;
    transition: opacity 0.6s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: #000;
    font-weight: 700;
    font-size: 26px;
}

.project .imgWrapper:hover::after {
    opacity: 1;
}

.project.active .imgWrapper:hover::after,
.project.active .imgWrapper:hover::before {
    opacity: 0;
}

.project img {
    width: 100%;
    min-height: 50px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    height: 235px;
    object-fit: cover;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: border-radius 0.6s;
    display: block;
}

.project.active img,
.project.active .imgWrapper::before {
    border-radius: 20px 20px 0 0;
}

.project .openLink {
    font-size: 20px;
}

.project .github {
    font-size: 24px;
}

.project .github:has(~ .openLink) {
    right: 55px;
}

.project .github,
.project .openLink {
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--dev-fg);
    background-color: var(--tint);
    border-radius: 50%;
    height: 37px;
    width: 37px;
    text-align: center;
    padding: 3px;
    transition:
        color 0.6s,
        background-color 0.6s,
        box-shadow 0.6s;
}

#projects .tag:hover,
.project .github:hover,
.project .openLink:hover {
    background-color: var(--dev-fg);
    color: var(--tint);
}

.project .tags {
    position: absolute;
    left: 10px;
    top: 188px;
    font-size: 0;
}

.tag {
    padding: 5px 10px;
    border-radius: 50px;
    background-color: var(--tint);
    transition:
        background-color 0.6s,
        box-shadow 0.6s,
        opacity 0.6s;
    font-size: 18px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin-right: 5px;
    opacity: 1;
}

#projects .tag {
    cursor: pointer;
}

.tag,
.project .github,
.project .openLink {
    box-shadow: 5px 5px 10px -5px var(--tint);
}

.project .projectTitle {
    font-weight: 700;
}

.project .projectText {
    padding: 15px 20px 20px 20px;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 235px;
    left: 0;
}

/* ------- Active Projects ------- */

#allProjects {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--dev-bg);
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    transition:
        opacity 0.6s,
        visibility 0.6s,
        background-color 0.6s;
    padding: 5vw;
    overflow: auto;
}

#allProjects.showProjects {
    opacity: 1;
    visibility: visible;
}

#allPortfolio {
    margin-top: 0;
}

#allProjectsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(var(--s) + 2 * var(--mh)));
    justify-content: center;
    font-size: 0;

    --s: min(300px, 80vw); /* size */
    --r: 1.15; /* ratio */

    /* clip-path */
    --h: 0.5;
    --v: 0.25;
    --hc: calc(clamp(0, var(--h), 0.5) * var(--s));
    --vc: calc(clamp(0, var(--v), 0.5) * var(--s) * var(--r));

    /*margin */
    --mv: 4px; /* vertical */
    --mh: calc(var(--mv) + (var(--s) - 2 * var(--hc)) / 2); /* horizontal */
    /* for the float*/
    --f: calc(2 * var(--s) * var(--r) + 4 * var(--mv) - 2 * var(--vc) - 2px);
}

#allProjectsContainer {
    grid-column: 1/-1;
}

#allProjectsContainer .allProject {
    clip-path: polygon(var(--hc) 0, calc(100% - var(--hc)) 0, 100% var(--vc), 100% calc(100% - var(--vc)), calc(100% - var(--hc)) 100%, var(--hc) 100%, 0 calc(100% - var(--vc)), 0 var(--vc));
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: calc(var(--s) - 90px);
    background-position: center;
    cursor: pointer;
}

#allProjectsContainer .allProjectWrapper {
    width: var(--s);
    margin: var(--mv) var(--mh);
    height: calc(var(--s) * var(--r));
    display: inline-block;
    font-size: initial;
    position: relative;
    z-index: 1;
    transition:
        transform 0.6s,
        z-index 0.6s;
    filter: drop-shadow(0px 0px 4px color-mix(in srgb, var(--tint), rgb(130, 130, 130)));
}

#allProjectsContainer .allProjectWrapper:has(.allProject:hover) {
    transform: scale(1.1);
    transition: transform 0.6s;
    z-index: 4;
}

@media (min-width: 685px) {
    #allProjectsWrapper {
        line-height: 1em;
    }

    #allProjectsContainer::before {
        content: "";
        width: calc(var(--s) / 2 + var(--mh));
        float: left;
        height: 120%;
        shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 2px), #000 0 var(--f));
    }

    #allProjectsContainer .allProjectWrapper {
        margin-bottom: calc(var(--mv) - var(--vc));
    }
}

#allProjectsClose {
    position: fixed;
}

.close {
    background-color: transparent;
    color: var(--tint);
    padding: 0;
    box-shadow: none;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 32px;
    height: 32px;
    transition:
        transform 0.6s,
        color 0.6s;
}

.close:hover {
    transform: scale(1.5);
    background-color: transparent;
}

.close:before,
.close:after {
    position: absolute;
    top: 0;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: var(--tint);
    transition: background-color 0.6s;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

#projectInfo {
    position: fixed;
    width: 80vw;
    left: 10vw;
    top: 10vh;
    z-index: 5;
    min-height: 80vh;
    background-color: var(--dev-bg);
    box-shadow: 0 0 3vw -1vw var(--dev-fg);
    padding: 5%;
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.6s,
        visibility 0.6s,
        background-color 0.6s,
        box-shadow 0.6s;
}

#projectInfo.showInfo {
    visibility: visible;
    opacity: 1;
}

#projectInfo::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(var(--dev-bg), 0.75);
    z-index: -1;
    transition: background-color 0.6s;
}

#projectTags {
    float: left;
}

#projectGithub,
#projectLink {
    display: none;
}

#projectGithub[href],
#projectLink[href] {
    float: right;
    display: block;
    text-decoration: none;
    color: var(--dev-fg);
    background-color: var(--tint);
    padding: 1px 12px;
    border-radius: 50px;
    font-size: 18px;
    box-shadow: 5px 5px 10px -5px var(--tint);
    transition:
        color 0.6s,
        background-color 0.6s,
        box-shadow 0.6s;
}

#projectGithub[href]:hover,
#projectLink[href]:hover {
    background-color: var(--dev-fg);
    color: var(--tint);
}

#projectGithub[href] i,
#projectLink[href] i {
    margin-left: 5px;
}

#projectLink {
    float: right;
}

#projectTitle {
    clear: both;
    display: block;
    margin: 15px 0 10px;
    font-weight: 700;
}

#projectGithub:has(~ #projectLink[href]) {
    margin-left: 10px;
}

#projectImg {
    max-width: 100%;
    margin: 0 auto 25px;
    max-height: 40vh;
    clear: both;
    display: block;
}

/* ------- Contact ------- */

input,
textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--dev-fg);
    background-color: inherit;
    margin: 10px 0 20px;
    transition:
        width 0.6s,
        border-bottom-color 0.6s,
        color 0.6s;
    color: var(--dev-fg);
    padding: 10px 0;
    font-size: 20px;
    width: 70%;
    font-family: inherit;
}

input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
    width: 100%;
    border-bottom-color: green;
}

input:not(:valid):not(:placeholder-shown),
textarea:not(:valid):not(:placeholder-shown) {
    border-bottom-color: red;
}

input:focus,
textarea:focus {
    width: 100%;
}

#contact {
    text-align: center;
}

#contact i {
    font-size: 40px;
    margin: 0 10px 20px;
}

a:has(> i[class^="fa"]),
a:has(> i[class*=" fa"]) {
    transition: color 0.6s;
}

a:has(> i[class^="fa"]):hover,
a:has(> i[class*=" fa"]):hover {
    color: var(--dev-fg);
}

#contactForm {
    text-align: left;
    width: 40vw;
    margin: 20px auto;
    min-width: 300px;
    max-width: 100vw;
}

#btnSubmit {
    margin: 20px auto;
    position: static;
}
